<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
          <link rel="stylesheet" href="/css/index.css">
</head>

<body>
          <div class="container1">
                    <div class="form">
                              <div class="subform">
                              <form action="/upload" method="post" enctype="multipart/form-data">
                              <div class="droparea">

                                        <label for="file">File</label>
                                        <input type="file" id="file" name="file" required>
                              </div>
                              <div class="pass">
                                        <label for="password">password</label>
                                        <input type="password" id="password" name="password">

                                        <button type="submit">share</button>
                              </div>

                              </form>
                              </div>
                    </div>
          </div>
</body>

</html>